.content-text {
  p {
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
    font-size: 16px;
  }
}

.content-body {
  background-color: $container-color;
  max-width: 1280px;
  margin: 0.3em auto;
  border-radius: 5px;
}
