.header {
    @include container;
    
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;

    &-logo {
        margin: 0;
        padding: 0;
        width: 4rem;
    }
}

.socials-list {
    display: none;
    gap: .5em;
    
    i {
        font-size: .8rem;
        color: $text-color;
    }
}

@media (min-width: $bp-large) {
    .socials-list {
        display: flex;
    }
}


