.nav-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: .3em;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        font-size: .8rem;
    }
}

.toggle-menu {
    display: none;
    position: absolute;
    top: 0.2em;
    right: .5em;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: $text-color;
}

@media (max-width: $bp-large) {
    .nav-menu {
        display: none;
    }

    .toggle-menu {
        display: block;
    }
}
