.movie-hero {
    @include container;
    position: relative;
    overflow: hidden;

    &__image {
        height: 360px;
        display: block;
        border-radius: 5px;
    }

    .meta-details {
        position: absolute;
        bottom: 4.5em;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        height: fit-content;
        z-index: 10;
        margin: 0 5em;

        .rating {
            display: flex;
            justify-content: flex-start;
    
            &__star {
                object-fit: scale-down;
                width: .8rem;
            }
    
            &__label {
                margin: 0 .3em;
                font-size: .8rem;
                font-weight: 300;
    
                span {
                    font-size: .6rem;
                    color: rgba(white, .5);
                }
            }
        }
    }

    .button {
        position: absolute;
        bottom: 2em;
        left: 8em;
        width: 8rem;
    }
}

.movie-title {
    position: absolute;
    bottom: 2.5em;
    left: 2em;
    margin: 0;
    margin-right: 2em;
    font-family: 'Abril Fatface', 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-align: left;
    color: white;
}

.movie-info {
    @include container;

    padding: 2em;
}

.movie-poster {
    margin-bottom: 1em;
    padding: .5em;
    max-height: 20rem;
    background-color: rgba(white, .05);
    border-radius: 5px;
    border: 2px rgba(white, .02);
    border-style: none solid none;
}

.col-movie-info {
    @include gradient-background;

    max-width: 800px;
    padding: 1em;
    color: $white-color;
    background-color: rgba(white, .05);
    border-radius: 5px;
    border: 2px rgba(white, .02);
    border-style: none solid;

    .line {
        margin-left: 0;
    }
}

.movie-intro * {
    font-size: .8rem;
}

.movie-intro p {
    font-weight: 300;
}

.videos, .images, .reviews, .cast {
    margin: 2em 0;

    i {
        font-size: .7rem;
    }
}

@media (min-width: $bp-medium) {
    .movie-info {
        display: flex;
        gap: 1em;
    }
}






