.movie-hero {
    @include container;
    position: relative;
    overflow: hidden;

    &__image {
        height: 360px;
        display: block;
        border-radius: 5px;
    }

    .vignette {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 500px black;
        border-radius: 5px;
    }

    .button {
        position: absolute;
        bottom: 2em;
        left: 8em;
        width: 8rem;
    }
}

.movie-title {
    position: absolute;
    bottom: 2em;
    left: 2em;
    margin: 0;
    margin-right: 2em;
    font-family: 'Abril Fatface', 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-align: left;
    color: white;
}

.movie-info {
    @include container;

    padding: 2em;
}

.movie-poster {
    margin-bottom: 1em;
    padding: .5em;
    max-height: 20rem;
    background-color: rgba(white, .05);
    border-radius: 5px;
    border: 2px rgba(white, .02);
    border-style: none solid none;
}

.col-movie-info {
    @include gradient-background;

    max-width: 800px;
    padding: 1em;
    color: $white-color;
    background-color: rgba(white, .05);
    border-radius: 5px;
    border: 2px rgba(white, .02);
    border-style: none solid;

    .line {
        margin-left: 0;
    }
}

.movie-intro * {
    font-size: .8rem;
}

.movie-intro p {
    font-weight: 300;
}

.videos, .images, .reviews, .cast {
    margin: 2em 0;

    i {
        font-size: .7rem;
    }
}

@media (min-width: $bp-medium) {
    .movie-info {
        display: flex;
        gap: 1em;
    }
}






