.sidebar-nav {
    @include container;

    margin: auto;
    border-radius: 5px;
    border: 2px rgba(white, .05);
    border-style: solid none none;
}

.nav-list {
    position: relative;
    padding: 1em;
    margin: 0;
}

.dropdown-toggle {
    display: block;
    margin: .5em 0;
    padding: .5em 2em;
    padding-left: 1em;
    text-align: center;
    font-size: 16px;
    color: $text-color;
    width: 100%;

    background-color: rgba(#8D72E1, .3);
    border: none;
    border-radius: 10px;


    &::after {
        content: "";
        position: absolute;
        width: .7em;
        height: .5em;
        margin: .5em .6em;
        background-color: $white-color;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
}

.dropdown-toggle.selected {
    filter: brightness(150%);

    &::after {
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
}

.dropdown-menu {
    display: none;
    padding: 0;
    margin: .2em 1em;
    z-index: 90;
    border-radius: 5px;
    background-color: #1d2a44;
    box-shadow: 0 0 20px rgba(black, .5);

    a {
        display: block;
        padding: .3em 1em;
        text-align: center;
        word-wrap: normal;
        font-size: 16px;
        font-weight: 300;
        border-radius: 5px;

        &:hover {
            background-color: rgba(white, .1);
        }
    }
}

.dropdown-menu.show {
    display: block;
}

@media (min-width: $bp-medium) {
    .dropdown-toggle {
        background-color: transparent;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
        justify-content: center;
        padding: .2em;
    }

    .dropdown-menu {
        position: absolute;
        margin: 0;

        a {
            text-align: left;
        }
    }
}