extends main.pug 
block content 

    section(class="out-now")
        each movie in movies
            article(class="movie") 
                img(class="movie__poster", src=movie.attributes.image.url, alt=movie.attributes.title)
                h2(class="movie__title")=movie.attributes.title

    section(class="coming-soon")

