extends main-layout.pug 
block content 

    section(class="out-now")
        h2 PÅ BION JUST NU
        div(class="line")

        ul(class="movie-list")
            each movie in moviesOutNow
                include movie-card.pug

    section(class="coming-soon")
        h2 KOMMER SNART
        div(class="line")

        ul(class="movie-list")
            each movie in moviesComingSoon
                include movie-card-small.pug


