
nav(class="pagination")
    a(class="page-nav", href="#")
        i(class="fa-solid fa-caret-left")

    ul(class="page-list")
        each page in pagination
            li 
                a(class="selected", href="#")=page
    
    a(class="page-nav", href="#")
        i(class="fa-solid fa-caret-right")


