
nav(class="pagination")
    a(class="page-nav", href="#")
        i(class="fa-solid fa-caret-left")

    -
        var list = [1]

    ul(class="page-list")
        each page in list
            li 
                a(class="selected", href="#")=page
    
    a(class="page-nav", href="#")
        i(class="fa-solid fa-caret-right")


