@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import 'variables.scss';
@import 'misc.scss';

body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $c-darkblue;
    color: $text-color;
}

* {
    font-family: 'Poppins', sans-serif;

    @media (min-width: $bp-large) {
        font-size: 24px;
    }
}

@import '404.scss';
@import 'pagination.scss';

@import 'sections/header.scss';
@import 'sections/mainNav.scss';
@import 'sections/sidebarNav.scss';
@import 'sections/carousel.scss';
@import 'sections/movies.scss';
@import 'sections/content.scss';
@import 'sections/movie-page.scss';

