.modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, .5);
    z-index: 5;
    overflow-y: scroll;
}

.modal-content {
    position: relative;
    margin: 1em;
    padding: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(black, .5);
}