$container-color:#3E3737;
$button-color:#1f1717;
$background-color: #202020;
$text-color: #E6E6E6;
$white-color: #E6E6E6;

$bp-medium: 600px;
$bp-large: 1000px;

$c-darkblue: #0F1624;
$c-lightblue: #13ADC7;
$c-gradient: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
$c-btn-primary: #2a313f;